@font-face {
    font-family: "PT Sans";
    
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;    
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
    background-color: #F2F2F2
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #FFFFFF;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .button {
    display: inline-block;
    box-sizing: border-box;
    height: 37px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    border: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .button:hover {
    background-color: #68A2CA;
  }
  
  .button:focus {
    outline: none;
    border: 3px solid #756257;
    background-color: #68A2CA;
  }
  
  .button:disabled {
    color: #E7E7E7;
    background-color: #68A2CA;
  }
  
  .button:disabled:hover {
    background-color: #68A2CA;
    outline: none;
    cursor: default;
  }
  
  .button + .button {
    margin-left: 6px;
  }
  
  .page-header {
    color: #000000;
  }

  .navigation {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap; 
    width: 385px;
    margin: 0;
    padding: 0; 
    list-style-type: none;
    justify-content: center;
  }

  .navigation-link {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 37px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }

  .navigation-link:last-of-type {
    margin-right: 30px;
  }

  .navigation-link:hover {
    color: #756257;
  }

  .navigation-link:focus {
    color: #756257;
    border: 3px solid #83B3D3;
    border-radius: 4px;
    outline: none;
  }

  .navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .navigation-menu {
    margin-top: 19px;
    margin-left: 55px;
    margin-bottom: 20px;
  }

  .navigation-user {
    max-width: 300px;
    margin-left: auto;
    margin-right: 36px;
    margin-top: 14px;
  }

  .navigation-user .navigation-link {
    min-width: 18px;
    min-height: 27px;
  }
  
  .logo {
    display: block;
    position: absolute;
    width: 138px;
    left: 531px;
  }

  .welcome-logo,
  .welcome-divider {
    display: block;
    margin: 0 auto;
  }

  .want-here-button {
    margin: 0;
    padding: 0;
    width: 160px;
    color: #FFFFFF;
    background-color: #756257;
    text-align: center;
  }

  .welcome-logo{
    padding-bottom: 25px;
  }

  .main-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
  }

  .welcome-divider{
    margin-bottom: 63px;
  }

  .main-index {
    color: #333333;
    background-color: #FFFFFF;
    text-align: center;
  }
     
  .main-inner {
    color: #333333;
    background-color: #FFFFFF;
  }

  .welcome {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("../img/index-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 51px;
  }

  .catalog-products {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("../img/catalog-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .page-container {
    display: block;
    height: 408px;
  }
  
  .welcome-hidden {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase;
    padding: 0;
    padding-top: 63px; 
    padding-bottom: 23px;
  }

  .welcome-description {
    padding: 0;
    font-size: 22px;
    line-height: 36px;
    padding-bottom: 79px;
  }

  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, 384px);
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
  }

  .advantages-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase; 
  }

  .advantages-item {
    margin: 0;
    padding: 0;
  }

  .advantages-title:nth-child(2),
  .advantages-title:nth-child(3),
  .advantages-title:nth-child(4) {
    margin: 0;
    padding: 0;
    margin-top: 125px;
  }

  .advantages-item:nth-child(1),
  .advantages-item:nth-child(5) {
    grid-column: 1 / -1;
    display: flex;
    background-color: #83B3D3;
    color: #FFFFFF;
  }
  .advantages-item:nth-child(2),
  .advantages-item:nth-child(4),
  .advantages-item:nth-child(6),
  .advantages-item:nth-child(8) {
    background-color: #83B3D31F; 
  }

  .advantages-item:nth-child(7) {
    background-color: #83B3D333;
  }
  
  .advantages-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 384px;
    justify-content: center;
  }

  .advantages-logo {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 223px;
    left: 0;
    margin: auto;
  }

  .search {
    display: block;
    background-color: #FFFFFF;  
    text-align: center;  
    margin-top: 91px;
    margin-bottom: 91px;
  }

  .search-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .search-description {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 20px;
  }

  .hotel-search {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    width: 575px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .mailing {
    background-image: url("../img/bg.jpg");
    background-color: #83B3D3; 
    color: #FFFFFF;
    text-align: center; 
    background-repeat: no-repeat;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .mailing-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0;
  }

  .mailing-description{
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 26px;
  }

  .field {
    margin: 0;
    padding: 8px 14px;
    font: inherit;
    font-weight: 400;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px 0px 0px 10px; 
  }

  .mailing-field {
    flex-grow: 1;
    margin: 0;
  }

  .mailing-field .field {
    width: 600px; 
  }

  .page-footer {
    background-color: #E5E5E5;
    color: #000000;
    margin-top: auto;
  }
  
  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
  }

  .footer-social {
    max-width: 200px;
    margin-left: 72px;
    margin-top: 15px;
  }

  .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .footer-social-item {
    width: 20px;
    height: 20px;
    margin-right: 30px;
  }

  .footer-social-link {
    position: relative;  
  }

  .social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;  
  }

  .htmlacademy-link {
    max-width: 120px;
    margin-left: auto;
    margin-right: 72px;
  }

  .footer-contacts-address-phone {
    display: block;
    margin: 0 auto;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
  }

  .breadcrumbs {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0; 
    color: #FFFFFF;
    list-style-type: none;
    padding-left: 71px;
    padding-top: 5px;
  }

  .breadcrumbs-link {
    position: relative;
    font-size: 16px;
    line-height: 21px;
  }

  .home-icon,
  .arrow-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .sorting-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    color: #333333;
    background-color: #FFFFFF;
    margin-top: 44px;
    margin-bottom: 42px;
   }

   .sorting-type {
    margin-right: auto;
  }

  .select {
    position: relative;
    display: flex;
    align-items: center;
    width: 287px;
    height: 48px;
    margin-right: auto;
  }

  .select-control {
    width: 100%;
    padding: 8px 14px;
    padding-right: 48px;
    font: inherit;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
  }
  
  .select-control:hover,
  .select-control:focus {
    border-color: #83B3D3;
  }
 
  .sorting-right-column {
    display: flex;
    margin-right: 64px;
  }

  .card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 8px;
  }

  .inner-header-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 35px;
    padding-left: 71px;
  }

  .catalog-filter {
    display: flex;
    width: 1200px;
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
    padding-left: 72px;
  }
 
  .range-scale {
    position: relative;
    height: 4px;
    margin-top: 32px;
    background-color: #E7E7E7; 
    border-radius: 2px;
  }

  .range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   
  .range-toggle:active,
  .range-toggle:focus {
    outline: 3px solid #83B3D3;
  } 

  .toggle-min {
    top: -8px;
    left: -10px;
  }
  
  .toggle-max {
    top: -8px;
    right: -10px;
  }
  
  .range-wrapper-inputs {
    display: flex;
    justify-content: center;
  }
  
  .range-input {
    width: 143px;
    padding: 8px 14px;
    font: inherit;
    text-align: left;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    appearance: textfield;
  }
  
  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  
  .button-catalog {
    display: inline-block;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }

  .catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
    margin-right: 67px;
    margin-top: 45px;
  }
  
  .catalog-filter-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .catalog-filter-item {
    margin: 13px 0;
  }  

  .catalog-filter-title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .control {
    position: relative;
    display: block;
    padding-left: 19px;
  }

  .control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 4px;
  }

  .control:hover .control-mark {
    background: #FFFFFF99;
  }
  
  .control-input:disabled + .control-mark {
    background: #FFFFFF99;
    border: 3px solid #83B3D3
  }

  .control-input[type="checkbox"]:checked + .control-mark {
    position: absolute;
    background-color: #FFFFFF;
    background-image: url("../img/tick.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    content: "";
  }

  .control-input[type="radio"] + .control-mark {
    border-radius: 50%;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
  }

  .control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-left: 19px;
  }

  .catalog-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hotel-found {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin-left: 71px; 
    width: auto;
    color: #000000;
    padding-right: 192px;
  }
  
  .product-card-title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    padding: 0;
  }
  
  .product-card-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
  }

  .product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 31px;
  }

  .product-card {
    display: grid;
    width: 1056px;
    height: 181px;
    grid-template-columns: 180px auto 160px;
    gap: 30px 20px;
    margin-left: 72px;
    border: 1px solid transparent;
    border-top: ridge #E6E6E6;
    padding-top: 31px;
  }

  .product-card:last-child {
    border-bottom: ridge #E6E6E6;
  }

  .product-card-block {
    display: grid;
    height: 120px;
    grid-template-columns: 151px auto;
    grid-template-rows: 31px auto 37px;
    column-gap: 8px;
  }

  .product-card-link-title {
    grid-column: 1 / -1;
  }

  .product-card-type,
  .product-card-price {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 18px;
    line-height: 23px;
  }

  .product-card-button {
    width: 160px;
  }

  .product-card-button-more {
    width: 151px;
    color: #FFFFFF;
    background-color: #756257;
  }

  .product-card-button_on {
    width: 160px;
    color: #FFFFFF;
    background-color: #7DB54F;
  }

  .product-card-button_on:hover {
    background-color: #6C9E42;
  }

  .product-card-button_on:focus {
    outline: none;
    border: 3px solid #756257;
    background-color: #6C9E42;
  }
  
  .product-card-button_on:disabled {
    color: #E7E7E7;
    background-color: #6C9E42;
  }
  
  .product-card-button_on:disabled:hover {
    background-color: #6C9E42;
    outline: none;
    cursor: default;
  }

  .want-here-button:hover,
  .hotel-search:hover,
  .product-card-button-more:hover {
    background-color: #615048;
  }

  .want-here-button:focus,
  .hotel-search:focus,
  .product-card-button-more:focus {
    outline: none;
    border: 3px solid #83B3D3;
    background-color: #615048;
  }
  
  .want-here-button:disabled,
  .hotel-search:disabled,
  .product-card-button-more:disabled {
    color: #E7E7E7;
    background-color: #615048;
  }
  
  .want-here-button:disabled:hover
  .hotel-search:disabled:hover,
  .product-card-button-more:disabled:hover {
    background-color: #615048;
    outline: none;
    cursor: default;
  }

  p.product-card-rating {
    display: block;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    background-color: #F2F2F2;
    text-transform: uppercase;
    margin-bottom: auto;
  }

  .mailing-inner {
    background-color: #FFFFFF; 
    text-align: center; 
    margin-top: 58px;   
    margin-bottom: 138px;
  }

  .mailing-title-inner {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .mailing-description-inner{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    padding-bottom: 26px;
  }

  .pagination {
    display: flex;
    width: 1200px;
    margin-top: 31px;
    margin-bottom: 30px;
  }
  
  .pagination-list {
    display: flex;
    margin: 0;
    padding: 0; 
    margin-left: 72px; 
    list-style-type: none;
  }

  .pagination-item:not(:last-child) {
    margin-right: 7px;
  }

  .pagination-link {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    text-align: center;
    padding: 20px 20px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
  }

  .pagination-current {
    color: #000000;
    background-color: #F2F2F2;   
  }

  .pagination-block{
    display: flex;
    margin-top: 31px;
    margin-bottom: 30px;
  }

  .show-more {
    margin: 0 auto;
    text-align: center;
    width: 625px;
    height: 55px;
    text-transform: uppercase;
  }

  .pagination-how-much {
    max-width: 390px;
    margin-left: auto;
    margin-right: 72px;
  }

   
  





  