@font-face {
    font-family: "PT Sans";
    
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;    
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #FFFFFF;
  }

  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .page-header {
    color: #000000;
    background: #FFFFFF;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .navigation-list {
    width: 310px;
    margin: 0;
    padding: 0; 
  }
  
  .navigation-menu {
    margin-left: 71px;
  }

  .navigation-user {
    max-width: 250px;
    margin-right: 72px;
  }

  .logo,
  .welcome-logo,
  .welcome-divider {
    display: block;
    margin: 0 auto;
  }

  .welcome-logo{
    padding-bottom: 25px;
  }

  .main-container {
    flex-grow: 1;
  }

  .navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }

  .main-index {
    color: #333333;
    background-color: #FFFFFF;
    text-align: center;
  }
     
  .main-inner {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("../img/catalog-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .welcome {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("../img/index-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 51px;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .welcome-hidden {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase;    
  }

  .welcome-description {
    font-size: 22px;
    line-height: 36px;
  }

  .advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .advantages-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase;
  }

  .search {
    background-color: #FFFFFF;  
    text-align: center;  
  }

  .search-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
  }

  .search-description {
    font-size: 22px;
    line-height: 26px;
  }

  .mailing {
    background-image: url("../img/bg.jpg");
    background-color: #83B3D3; 
    color: #FFFFFF;
    text-align: center; 
    background-repeat: no-repeat;   
  }

  .mailing-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .mailing-description{
    font-size: 22px;
    line-height: 26px;
  }

  .page-footer {
    color: #000000;
    background-color: #FFFFFF; 
  }
  
  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .footer-social {
    width: 200px;
    margin: 0;
    padding: 0;
    margin-left: 72px;
  }

  .htmlacademy-link {
    max-width: 200px;
    margin-left: auto;
    margin-right: 72px;
    margin-top: 42px;
  }

  .footer-contacts-address-phone {
    display: block;
    margin: 0 auto;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    margin-top: 40px;
  }

  .sorting-container {
    color: #FFFFFF;
    background-color: #83B3D3;
  }

  .inner-header-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
  }

  .catalog-filter {
    display: flex;
    width: 1200px;
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
  }

  .catalog-left-column {
    width: 150px;
    margin-left: 71px;
    margin-right: 67px;
  }

  .catalog-center-column {
    width: 145px;
    margin-right: 167px;
  }

  .catalog-right-column {
    width: 287px;
    margin-right: 81px;
  }

  .catalog-button-column {
    width: 2160px;
    margin-right: 72px;
  }

  .breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
  }
    
  .catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .control-label {
    font-size: 18px;
    line-height: 23px;  
  }

  .hotel-found {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    text-transform: uppercase;
  }

  .product-card-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
  }
  
  .product-card-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
  }

  .product-list {
    color: #333333;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
  }

  .product-card-price {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 18px;
    line-height: 23px;
  }

  .product-card-button-more {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
  }

  .mailing-inner {
    background-color: #FFFFFF; 
    text-align: center;    
  }

  .mailing-title-inner {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
  }

  .mailing-description-inner{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
  }

  .pagination {
    display: flex;
    width: 1200px;
  }

  .pagination-list {
    width: 370px;
    margin: 0;
    padding: 0; 
    margin-left: 72px; 
  }
  
  .pagination-how-much {
    max-width: 390px;
    margin-left: auto;
    margin-right: 72px;
  }

 
  





  