@font-face {
    font-family: "PT Sans";
    
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;    
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #FFFFFF;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .page-header {
    color: #000000;
    background: #FFFFFF;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap; 
    width: 385px;
    margin: 0;
    padding: 0; 
    list-style-type: none;
  }

  .navigation-link {
    display: block;
    padding: 19px 16px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }

  .navigation-menu {
    margin-left: 55px;
  }

  .navigation-user {
    max-width: 300px;
    margin-left: auto;
    margin-right: 36px;
  }

  .navigation-user .navigation-link {
    min-width: 18px;
    min-height: 27px;
  }
  
  .logo,
  .welcome-logo,
  .welcome-divider {
    display: block;
    margin: 0 auto;
  }

  .want-here {
    color: #FFFFFF;
    background-color: #756257;
  }

  .welcome-logo{
    padding-bottom: 25px;
  }

  .main-container {
    flex-grow: 1;
  }

  .welcome-divider{
    margin-bottom: 63px;
  }

  .main-index {
    color: #333333;
    background-color: #FFFFFF;
    text-align: center;
  }
     
  .main-inner {
    color: #333333;
    background-color: #FFFFFF;
  }

  .welcome {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("../img/index-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 51px;
  }

  .catalog-products {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("../img/catalog-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  
  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

 
  .welcome-hidden {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase; 
    margin-bottom: 23px;   
  }

  .welcome-description {
    font-size: 22px;
    line-height: 36px;
  }

  .advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
  }

  .advantages-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase;
  }

  .search {
    display: block;
    background-color: #FFFFFF;  
    text-align: center;  
    margin-top: 91px;
    margin-bottom: 91px;
  }

  .search-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .search-description {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 20px;
  }

  .hotel-search {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    width: 575px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .mailing {
    background-image: url("../img/bg.jpg");
    background-color: #83B3D3; 
    color: #FFFFFF;
    text-align: center; 
    background-repeat: no-repeat;
  }

  .mailing-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 94px;
    padding-bottom: 15px;
  }

  .mailing-description{
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 26px;
  }

  .mailing-form {
    padding-bottom: 94px;
  }
  
  .page-footer {
    background-color: #FFFFFF;
    color: #000000;
  }
  
  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .footer-social {
    max-width: 120px;
    margin-left: 72px;
  }

  .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-right: 29px;
    list-style-type: none;
  }

  .footer-social-item {
    width: 20px;
    height: 20px;
  }

  .htmlacademy-link {
    max-width: 120px;
    margin-left: auto;
    margin-right: 72px;
    margin-top: 42px;
    margin-bottom: 44px;
  }

  .footer-contacts-address-phone {
    display: block;
    margin: 0 auto;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 30px;
  }


  .sorting-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    color: #333333;
    background-color: #FFFFFF;
   }

   .sorting-type {
    margin-right: auto;
  }

   .sorting-container .button {
    width: 48px;
    height: 48px;
  }


  .inner-header-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
  }

  .catalog-filter {
    display: flex;
    width: 1200px;
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
  }

  .catalog-left-column {
    width: 150px;
    margin-left: 71px;
    margin-right: 67px;
  }

  .catalog-center-column {
    width: 145px;
    margin-right: 167px;
  }

  .catalog-right-column {
    width: 287px;
    margin-right: 81px;
  }

  .catalog-button-column {
    width: 2160px;
    margin-right: 72px;
  }

  .breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0; 
    color: #FFFFFF;
    list-style-type: none;
  }

  .breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
  }
    
  .catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .control-label {
    font-size: 18px;
    line-height: 23px;  
  }

  .hotel-found {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin-left: 71px; 
    width: auto;
    color: #000000;
  }

  .product-card-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
  }
  
  .product-card-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
  }

  .product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
  }

  .product-card-price {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 18px;
    line-height: 23px;
  }

  .product-card-button-more {
    color: #FFFFFF;
    background-color: #756257;
  }

  .product-card-button_on {
    color: #FFFFFF;
    background-color: #7DB54F;
  }

  p.product-card-rating {
    width: 160px;
    text-align: center;
    color: #333333;
    background-color: #F2F2F2;
    text-transform: uppercase;
  }

  .mailing-inner {
    background-color: #FFFFFF; 
    text-align: center; 
    margin-top: 58px;   
    margin-bottom: 138px;
  }

  .mailing-title-inner {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .mailing-description-inner{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    padding-bottom: 26px;
  }

  .pagination {
    display: flex;
    width: 1200px;
    margin-top: 31px;
    margin-bottom: 30px;
  }
  
  .pagination-list {
    display: flex;
    margin: 0;
    padding: 0; 
    margin-left: 72px; 
    list-style-type: none;
  }

  .pagination-item:not(:last-child) {
    margin-right: 7px;
  }

  .pagination-link {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    text-align: center;
    padding: 20px 20px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
  }

  .pagination-current {
    color: #000000;
    background-color: #F2F2F2;   
  }

  .pagination-block{
    margin: 31px 288px 30px 287px;

  }

  .show-more {
    text-align: center;
    width: 625px;
    height: 55px;
    text-transform: uppercase;
  }

  .pagination-how-much {
    max-width: 390px;
    margin-left: auto;
    margin-right: 72px;
  }

  .mailing-form-inner {
    margin-bottom: 138px;
  }
 
  





  